@import '../../common.less';

.wrap {
  padding: 0 15px 15px 15px;
  background-color: #fff;
  border-radius: 2px;

  .topArea {
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-between;

    .navControls {
      display: flex;
      align-items: center;

      // 下拉
      .dropdown {
        margin: 0 16px;

        .toggle {
          padding: 6px 8px 6px 10px;
          background-color: @white;
          color: @black;
          font-size: @font-size-base;
          width: 160px;
          text-align: left;
          border: 1px solid #dbdbdb;
          border-radius: 0.25rem;
          white-space: nowrap;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}

// 下拉菜单
.dropdownMenu {
  width: auto;
  z-index: 300;
  min-width: 240px;
  max-width: 500px;
  margin-top: @margin-xss;
  margin-bottom: @margin-lg;
  font-size: @font-size-sm;
  font-weight: 400;
  padding: @padding-xs 0;
  background-color: @white;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  display: block;
  min-height: 40px;
  max-height: 445px;
  overflow-y: auto;

  ul {
    display: block;
    text-align: left;
    list-style: none;
    padding: 0 1px;

    li {
      cursor: pointer;
      background: transparent;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      display: block;
      font-weight: 400;
      position: relative;
      padding: @margin-xs @margin-sm;
      color: #303030;
      line-height: 16px;
      white-space: normal;
      overflow: hidden;
      text-align: left;
      width: 100%;

      &:hover {
        background-color: @normal-color;
        color: @black;
        outline: 0;
        text-decoration: none;
      }
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-end;

  h2 {
    margin: 16px 0;
    font-size: 1.75em;
    font-weight: 600;
    color: #303030;
  }
}

.title {
  margin: 0;
}

.stepsWrap {
  padding-left: 30px;
}

.tabsLabelTitle {
  font-size: 14px;
  line-height: 28px;
  font-weight: 600;
}

.tabsLabelNum {
  display: inline-flex;
  color: #000;
  font-weight: 600;
  margin-left: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: #f0f0f0;
  border-radius: 10rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.comment {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-top: 1px solid #dbdbdb;
}

.btnWrap {
  margin-top: @margin-md;
}

.markStyle {
  margin: 1 @margin-md;
}

.markBtnSty {
  margin: @margin-md 0;
}

.assTitle {
  font-size: 2em;
  font-weight: bold;
}

// 里程碑List.item
.list {
  padding: @padding-xs;
  margin-top: @margin-xs;
  border-radius: 4px;
  background-color: #dbdbdb;
  font-size: 12px;

  div:last-child {
    .milestonesItemList {
      margin-bottom: 0px;
    }
  }

  .milestonesItemList {
    border: 0;
    padding: 10px 16px;
    border-radius: 4px;
    width: 100%;
    background-color: @white;
    margin-bottom: 5px;

    .itemListLeft {
      .title {
        font-weight: bold;
        margin-bottom: @margin-xss;
        display: inline-block;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .date {
        color: #ccc;
        margin-bottom: @margin-xss;
      }

      .overdue {
        background-color: #f5d9a8;
        color: #8f4700;
        border-radius: 140rem;
        padding: 0 7px;
        margin-bottom: @margin-xss;
        margin-right: @margin-xss;
      }

      .project {
        background-color: #f0f0f0;
        color: #666;
        padding: 0 7px;
        border-radius: 140rem;
      }
    }

    .itemListMiddle {
      // 进度条
      .progressText {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;

        .num {
          color: #1068bf;

          &:hover {
            text-decoration: underline;
            color: #1068bfb2;
            cursor: pointer;
          }
        }

        .plan {
          color: #303030;
        }
      }
    }

    .itemListRight {
      display: flex;
      justify-content: flex-end;
    }
  }
}

// 分页器
.paging {
  padding-top: 20px;
}
