@import '../../../../common.less';

.main {
  background-color: @white;
  padding: @padding-md;
  padding-top: 0;
  border-radius: 2px;
  .wrap {
    // padding: @padding-md - 1px;
    background-color: @white;
    border-radius: 2px;
    margin: auto;
    max-width: 1280px;
  }
}

// 标题
.title {
  padding: 16px;
  line-height: 1.3;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #dbdbdb;
}
// 表单
.newEditForm {
  margin-top: @margin-xs;

  .fromItem {
    margin-bottom: @margin-sm;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    .titleInput {
      text-align: right;
      padding-right: @padding-md;
      padding-left: @padding-md;
      font-weight: 600;
    }
  }

  .fromButton {
    margin-top: @margin-lg;
    background-color: #fafafa;
    padding: 16px;
    margin-bottom: 0;
    border-top: 1px solid @normal-color;
    // border-bottom: 1px solid @normal-color;
    color: @black;
  }
}

.customBox {
  width: 100%;

  // 颜色输入
  .colInput {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    :global {
      .w-input-inner {
        border-radius: 0 3px 3px 0;
      }
    }

    // 颜色块
    .colBlock {
      display: inline-block;
      width: 30px;
      min-width: 30px;
      height: 30px;
      box-shadow: rgb(19 124 189 / 0%) 0px 0px 0px 0px,
        rgb(19 124 189 / 0%) 0px 0px 0px 0px,
        rgb(16 22 26 / 15%) 0px 0px 0px 1px inset,
        rgb(16 22 26 / 20%) 0px 1px 1px inset;
      outline: none;
      border: none;
      border-radius: 3px 0px 0px 3px;
    }
  }

  // 说明文字
  .explain {
    font-size: 12px;
    color: #999;
    line-height: 16px;
    margin-top: 4px;
  }

  // 颜色选择
  .colSelect {
    .colSelectBlock {
      display: flex;
      flex-wrap: wrap;
      position: static !important;
      border: none !important;
      box-shadow: none !important;
      padding: 0 !important;
      margin: 5px 0 10px 0;
      width: 90% !important;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
    }

    .colSelectBlock :first-child {
      display: none;
    }
  }
}
