.w-list-item {
    padding: 10px 18px;
    border-bottom: 1px solid #f0f0f0;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
}
.w-list-item:hover{
    box-shadow: 2px 2px 6px #d4d4d47c,-2px -2px 6px #fff;
    transition: all 0.3s ease-in-out;
}

/* 文字提示 */
/* .w-tooltip-inner{
 background-color: transparent;
 box-shadow: none;   
} */
.list-content .w-list-header{
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
}
.list-content .w-list-item{
    padding: 0 18px;
}
.list-content .w-list-item .w-col{
    padding: 10px 0;
    height: 50px;
    line-height: 30px;
}