.wrap {
  width: 100%;
  padding: 15px 15px 15px 15px;
  background-color: #fff;
  border-radius: 2px;
}

.AllSelect {
  padding-top: 15px;
}

.nav {
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 10px;
  // border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;

  h2 {
    margin: 16px 0;
    font-size: 1.75em;
    font-weight: 600;
    color: #303030;
  }
}

.itemListRight {
  display: flex;
  justify-content: flex-end;
}

.tabsLabelTitle {
  font-size: 14px;
  line-height: 28px;
  font-weight: 600;
}

.tabsLabelNum {
  display: inline-flex;
  color: #000;
  font-weight: 600;
  margin-left: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: #f0f0f0;
  border-radius: 10rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.contentBlock {
  display: flex;
  background-color: #fafafa;
  padding: 16px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  color: #303030;
}

.list {
  margin: 15px 0 15px 0;

  .listStatus {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
    display: inline-block;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 100px;
    font-weight: 400;
  }

  .listIssueStatus {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-left: 0.5rem;
    display: inline-block;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    border-radius: 100px;
    font-weight: 400;
    color: #fff;
  }

  .listRow {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .listCol {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .listTitle {
    color: #303030;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
  }

  .listContent {
    color: #666;
    overflow: hidden;
    // font-size: 12px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .listInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .listIcon {
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }

  .listIssueIcon {
    display: flex;
    justify-content: right;
  }

  .taskUserName {
    padding: 0 10px;
    // text-shadow: 0 0 10px #008ef0;

    // &:hover {
    //   text-decoration: underline;
    // }
  }

  .projectName {
    padding: 0 5px;
    color: blue;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .listIconSpan {
    margin: 0 5px;
  }
}
