@import '../../common.less';

.header {
  display: flex;
}

.dragList {
  border: 1px solid var(--gray-100, #dbdbdb);
}

.dragItem {
  width: 300px;
  margin: 8px;
  background: var(--white, #fff);
  border: 1px solid var(--gray-100, #dbdbdb);
  border-radius: 5px;
}

.drapItem {
  height: 700px;
  display: flex;
  width: 20%;
  padding: 10px;
}

.listName {
  padding: 10px;
  padding-bottom: 0px;
  font-size: @font-size-base + 2px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.listNum {
  margin-left: 3px;
  margin-right: 10px;
  line-height: 25px;
}

.userHead {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.newList {
  padding: 10px;
  height: 560px;
  padding-bottom: 0px;
}
