.list {
  margin: 15px 0 15px 0;
  cursor: pointer;

  .listStatus {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
    display: inline-block;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 100px;
    font-weight: 400;
  }

  .listIssueStatus {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-left: 0.5rem;
    display: inline-block;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    border-radius: 100px;
    font-weight: 400;
    color: #fff;
  }

  .listRow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .listCol {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .listTitle {
    color: #303030;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  .listContent {
    color: #666;
    overflow: hidden;
    // font-size: 12px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .listInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .listIcon {
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }

  .listIssueIcon {
    display: flex;
    justify-content: right;
  }

  .taskUserName {
    padding: 0 10px;
    // text-shadow: 0 0 10px #008ef0;

    // &:hover {
    //   text-decoration: underline;
    // }
  }

  .listIconSpan {
    margin: 0 5px;
  }
}
