@import '../../../../../common.less';

.wrap {
  max-width: 1280px;
  display: flex;
  margin: auto;
}

.synchHead {
  // 项目标题
  .title {
    font-size: 18px;
    font-weight: bold;
  }

  //项目描述
  .desc {
  }
}

//
.jumpBox {
  text-decoration: none;
  color: #999;

  &:hover {
    text-decoration: underline;
    color: #008ef0;
  }
}
