// 模板专属样式文件库

// label模板
.title {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.piece {
  margin-right: 5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 0.25rem;
}

.createLabel {
  // 颜色选择
  .colSelect {
    padding: 0px 12px 6px 6px;

    .colSelectBlock {
      display: flex;
      flex-wrap: wrap;
      position: static !important;
      border: none !important;
      box-shadow: none !important;
      padding: 0 !important;
      margin: 5px 0 10px 0;
      // width: 100% !important;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
    }
  }

  // 颜色输入
  .colInput {
    display: flex;
    padding: 0 12px;

    // 颜色块
    .colBlock {
      display: inline-block;
      width: 30px;
      min-width: 30px;
      height: 30px;
    }
  }

  //按钮组
  .butGroup {
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

// 人员列表项
.personnelLi {
  display: flex;
  width: 100%;
  padding: 4px;

  .userLiAvatar {
    margin-right: 10px;
  }

  .userLiInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .userName {
      font-weight: 500;
      line-height: 16px;
    }

    .userAcount {
      font-size: 12px;
      color: #ccc;
      line-height: 14px;
    }
  }
}
