.container {
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 5px;
  font-size: 30px;
  font-weight: 600;
  color: #303030;
}

.listImg {
  border-radius: 8%;
  height: 40px;
  width: 40px;
  align-self: center;
  font-size: 20px;
  margin: 5px;
}

.tabsDiv {
  display: flex;
  justify-content: space-between;
  padding: 2px 5px;
}
