@import '../../common.less';

.container {
  background-color: @white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: @padding-md @padding-xss;
  font-size: @font-size-lg;
  font-weight: @header-font-weight;
  color: @black;
}

.listImg {
  border-radius: @border-radius-base;
  height: 40px;
  width: 40px;
  align-self: center;
  font-size: @font-size-base;
  margin: margin-xss;
}

.tabsDiv {
  display: flex;
  justify-content: space-between;
  padding: @padding-xss / 2 @padding-xss;
}
