.milesTab .w-tabs-item {
    line-height: 30px;
}

.milesTab .w-card-body {
    padding: 0;
}

.milesTab .w-card-head {
    background: #fafafa;
}

/* 取消里程碑详情描述MD组件滚动条  */
.milestonesBodyMDEditor .w-md-editor-show-preview,
.milestonesBodyMDEditor .w-md-editor-show-preview .w-md-editor-content {
    height: auto !important;
}

.milestonesBodyMDEditor .w-md-editor-show-preview .w-md-editor-content .w-md-editor-preview {
    position: inherit;
}