@import '../../../common.less';

.contentWrapper {
  background-color: @white;
  border-radius: 2px;
  margin-right: 290px;
}

// 数字
.numBox {
  position: relative;
  padding: 0 6px;
  color: @black;

  .num {
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 0px 10px;
    font-size: 12px;
  }
}

// 里程碑详情 左边布局
.layoutLeft {
  // max-width: 1280px;
  padding: 0 @padding-md;
  margin: auto;
  background-color: @white;
  // min-height: calc(100vh - 84px);

  // 里程碑详情 左边布局 头部
  .layoutLeftHead {
    display: flex;
    flex-flow: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid @normal-color;
    color: @black;

    .headLeft {
      display: flex;
      align-items: center;

      .headStatus {
        display: inline-block;
        padding: 0 10px;
        border-radius: 4px;
        margin-right: 8px;
        color: @white;
        font-size: @font-size-sm;
        line-height: 20px;
        height: 20px;
      }

      .headTitle {
        strong {
          color: @black;
          line-height: 34px;
          margin-right: 10px;
        }
      }
    }

    .headRight {
      display: flex;
    }
  }

  // 里程碑详情 左边布局 内容
  .layoutLeftBody {
    border-bottom: 1px solid @normal-color;
    padding: @padding-md 0;

    h2 {
      font-weight: 600;
      line-height: 1.2;
      color: @black;
      font-size: @font-size-lg + 6px;
    }

    .bodyContent {
      margin-top: @margin-xs;
      padding: 0;
      padding-top: @padding-xs;
      border-width: 1px;
      border-color: @normal-color;
      border-top-style: solid;
    }
  }

  // 里程碑详情 左边布局 底部
  .layoutLeftFooty {
    // 任务分类列表
    .infoBox {
      .tabsHead {
        border-style: solid;
        border-color: @normal-color;
        border-width: 0;
        border-bottom-width: 1px;
        margin-bottom: @margin-xss;
      }

      // 任务列表
      .taskList {
        .taskListLi {
          position: relative;
          display: flex;
          flex-direction: column;
          min-width: 0;
          word-wrap: break-word;
          background-color: @white;
          background-clip: border-box;
          border: 1px solid @normal-color;
          border-radius: 3px;

          li {
            padding: @padding-sm + 2px @padding-md;
            word-break: break-word;
            border-bottom: 1px solid #eee;
            display: block;
            margin: 0;
            border-color: @normal-color;
            color: @black;

            .taskTitle,
            .taskLink {
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }

            .taskBody {
              margin-top: @margin-xs;

              .taskLink {
              }

              .taskAssignPerson {
                cursor: pointer;
                margin-left: @margin-xss;
              }
            }
          }

          .liHeader {
            margin-bottom: 0;
            background-color: #fafafa;
            border-bottom: 1px solid @normal-color;
            padding: @padding-sm @padding-md;
            line-height: 1.5;
            display: flex;
            justify-content: space-between;
            font-size: @font-size-sm;

            .liHeaderRight {
              display: flex;
              align-items: center;

              span {
                margin-left: @margin-xss;
              }
            }
          }
        }
      }

      .labelListLi {
        margin: 5px 0;

        ul {
          li {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid #eee;
            margin: 0;

            .labelLiRight {
              button {
                margin-left: @margin-lg;
              }
            }
          }
        }
      }
    }

    // 标签样式
    .taskTags {
      padding: 0 @padding-xss + 2px;
      align-items: center;
      background-color: @white;
      overflow: hidden;
      display: inline-flex;
      border-radius: 10px;
      max-width: 100%;
      color: @white;
      font-size: @font-size-sm;
      margin-left: @margin-xss;
      margin-top: @margin-xss;
      cursor: default;
    }
  }
}

// 里程碑详情 右边布局
.layoutRight {
  width: 290px;
  position: fixed;
  top: 53px;
  bottom: 0px;
  right: 0;
  transition: width 0.3s;
  background: #fafafa;
  z-index: 200;
  overflow: hidden;
  padding: 0 20px;
  border-left: 1px solid #dbdbdb;

  li {
    padding: 16px 0;
    border-bottom: 1px solid #e8e8e8;
    width: 250px;

    .rightHead {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 5px;
      .num {
        background-color: #f0f0f0;
        color: #666;
        display: inline-flex;
        align-items: center;
        font-size: @font-size-sm;
        font-weight: 400;
        line-height: 14px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 120px;
      }

      .rightHeadBut {
        min-height: 16px;
        // font-size: @font-size-sm;
        padding: 2px;
        color: #008ef0;
      }
    }

    .rightBelow {
      // font-weight: 600;
      display: flex;
      height: 25px;
      align-items: center;
      span {
        display: flex;
        margin-right: @margin-xss;

        span {
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
}
