@import '../../../../common.less';

.userHomeWrap {
  max-width: 1280px;
  display: flex;
  margin: auto;

  .userInfo {
    width: 296px;
    max-width: 296px;

    .avatar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;

      span {
        font-size: 100px;
        width: 160px;
        height: 160px;
        box-shadow: 0 0 6px 2px #ccc;
      }
    }

    .name {
      h2 {
        padding: @padding-xss;
        line-height: 30px;
        font-size: @font-size-base + 2px;
        font-weight: bold;
        text-align: center;
      }
    }

    // 备注
    .note {
      overflow: hidden;
      margin: 10px 0;
    }

    .editBut {
      width: 100%;
    }

    .userBasicInfo {
      ul {
        li {
          padding: 4px 6px 0;
          font-size: 14px;
          display: inline-block;
          width: 100%;
          max-width: 100%;

          display: flex;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          span {
            display: flex;
            margin-right: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  .userProject {
    padding-left: @padding-sm;
    width: calc(100% - 316px);
    overflow: hidden;

    // 概括
    .summary {
      margin: @margin-sm 0;

      .block {
        padding: @padding-xss;

        .head {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: @margin-xs;
        }
      }

      .project {
        ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          li {
            padding: 0 @padding-xs;
            margin-bottom: @margin-md;
            display: flex;
            width: 50%;
          }
        }
      }
    }
  }

  .userAllDynamicList,
  .dynamic {
    ul {
      // 动态列表项
      li {
        font-size: 12px;
        padding: 16px 0 16px 40px;
        border-bottom: 1px solid #f0f0f0;
        color: #666;
        position: relative;
        line-height: 1.25rem;
        position: relative;

        .avatar {
          position: absolute;
          left: 0;
        }

        .dynamicTop {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .name {
            color: @black;
            font-size: @font-size-base;
            font-weight: @header-font-weight;
            line-height: 1.25rem;
          }

          .time {
            color: #ccc;
          }
        }

        .dynamicCon {
          line-height: 16px;
        }
        .textCon {
          width: '80%';
          color: '#008ef0';
          overflow: 'hidden';
          white-space: 'nowrap';
          text-overflow: 'ellipsis';
        }
        .dynamicBot {
          display: inline;

          .clickOn {
            color: #008ef0;
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .projectLiLeft,
  .projectItem {
    padding: @padding-md;
    width: 100%;
    // border-color: #ccc;
    // border-style: solid;
    // border-width: 1px;
    border-radius: 6px;

    // 项目标题
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      h2 {
        font-weight: 600;

        &:first-child:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      // 项目角色
      .role {
        display: inline-block;
        font-size: @font-size-sm;
        font-weight: 500;
        line-height: 18px;
        white-space: nowrap;
        border: 1px solid #ccc;
        border-radius: 24px;
        padding: @padding-xss - 2px @padding-xss + 2px;
        font-size: @font-size-sm;
      }
    }

    .text {
      min-height: 18px;
    }

    p {
      display: flex;
      font-size: @font-size-sm;
      margin-top: @margin-xs;

      span {
        margin-right: @margin-xss - 2px;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .updateTime {
        &:hover {
          text-decoration: none;
          cursor: default;
        }
      }

      & > span {
        margin-right: 10px;
        display: flex;
        align-items: center;
      }
    }
  }
  .listContent {
    font-size: @font-size-sm;
  }
  // 用户所有项目列表
  .userAllProjectList {
    .projectListHead {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: @padding-md 0;
      border-bottom: 1px solid #ccc;
    }

    ul {
      li {
        display: flex;
        padding: 0 10px;
        border-bottom: 1px solid #ccc;

        &:hover {
          background-color: #efefef9d;
        }

        .projectLiLeft {
          padding: @padding-lg 0;
          border: none;
          border-color: #ccc;
          // border-bottom: 1px solid #ccc;
          border-radius: 0;

          .title {
            justify-content: flex-start;
            span {
              font-size: @font-size-sm;
            }

            h2 {
              font-size: 20px;
            }

            .role {
              margin-left: 5px;
            }
          }

          .text {
            font-size: @font-size-sm;
          }
        }
      }
    }
  }
}
