@light-li-bg-color: #f6f8fa;
@light-font-color-default: #24292f; // 深色
@light-font-color-muted: #57606a; // 浅色
@light-font-color-accent: #0969da; // 蓝色
@light-font-size-default: 14px; // 浅色

.taskList {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5;
  font-size: 16px;

  .list {
    font-size: @light-font-size-default;
    line-height: 1.5;

    & > ul {
      border: 1px solid #d0d7de;
      margin-right: 0;
      margin-left: 0;
      border-radius: 6px;

      & > li {
        display: flex;
        border-top-color: transparent;
        list-style-type: none;
        border-top: 1px solid hsla(210, 18%, 87%, 1);
        transition: all 0.2s ease-in-out;

        &:not(:first-child):hover {
          transition: all 0.2s ease-in-out;
          background-color: @light-li-bg-color;
        }

        &:nth-of-type(2) {
          border-top: none;
        }

        .itemState {
          display: flex;
          align-items: center;
          margin-left: 16px;
          margin-top: 8px;
          height: 24px;
          line-height: 24px;

          & > span {
            width: 16px;
            height: 16px;
            font-weight: 600;

            svg {
              width: 100%;
              height: 100%;
            }
          }
        }

        .itemLeft {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 8px;
          overflow: hidden;
          flex: auto;

          .labelBox {
            display: inline;
            line-height: 1.5;
          }

          .itemLeftTop {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            align-items: flex-start;
            p {
              font-weight: 600;
              text-decoration: none;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 16px;
              color: @light-font-color-default;
              transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
              transition-property: color, background-color, box-shadow,
                border-color;

              &:hover {
                color: @light-font-color-accent;
                cursor: pointer;
                transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
                transition-property: color, background-color, box-shadow,
                  border-color;
              }
            }
          }

          .itemLeftBase {
            font-size: 12px;
            margin-top: 4px;
            color: @light-font-color-muted;

            span {
              border-radius: 25px;
              // margin-right: 5px;
            }

            // .mark {
            // }

            // .updateTime {
            // }

            // .person {
            // }

            // 里程碑
            .milestone {
              display: inline-block;
              max-width: 125px;
              vertical-align: top;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;

              & > span {
                width: 16px;
                height: 16px;
                display: inline-block;
                overflow: visible !important;
                vertical-align: bottom;
                margin-right: 2px;

                & > svg {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }

        .itemRight {
          white-space: nowrap;
          text-align: right;
          flex-shrink: 0;
          display: flex;
          // align-items: center;
          width: calc(100% / 14 * 3);
          padding-right: 16px;
          padding-top: 8px;
          flex-shrink: 0;

          .avatar {
            :global {
              .w-avatar {
                width: 20px;
                height: 20px;
              }
            }
          }

          & > div {
            flex: 1;
            margin-left: 8px;
            flex-shrink: 0;
            text-align: center;
          }

          .itemComments {
            text-align: right;
            color: @light-font-color-muted;

            span {
              padding: 2px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }

            .commentIcon {
              width: 16px;
              height: 16px;
              vertical-align: middle;
            }

            .commentNum {
              font-weight: 600;
              font-size: 12px;
              margin-left: 2px;
            }
          }
        }
      }
    }

    .listHead {
      display: flex;
      width: 100%;
      align-items: center;
    }

    // 列表头
    .liHead {
      background-color: @light-li-bg-color;
      border-top: none;
      padding: 16px;
      margin: -1px -1px 0;
      border-right-width: 1px;
      border-left-width: 1px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border: 1px solid #d0d7de;

      .listHead {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }

      .itemLeft {
        height: 21px;
        padding: 0;

        & > p {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          & > span {
            margin-right: 10px;
            color: @light-font-color-muted;
            text-decoration: none;
            white-space: nowrap;
            cursor: pointer;
            font-size: 14px;
            display: inline-flex;
            padding: 0;
            cursor: pointer;
            -webkit-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 0;
            -webkit-appearance: none;
            appearance: none;

            &:hover {
              color: @light-font-color-default;
            }

            & > span {
              margin-right: 4px;
              display: inline-block;
              overflow: visible !important;
              vertical-align: text-bottom;
              width: 16px;
              height: 16px;

              svg {
                width: 16px;
                height: 16px;
                fill: currentColor;
              }
            }
          }

          .action {
            font-weight: 600;
            color: @light-font-color-default;
          }
        }
      }

      .itemRight {
        justify-content: flex-end;
        padding-right: 0;
        padding-top: 0;

        & > div {
          display: flex;
          justify-content: center;
          padding-right: 16px;
          padding-left: 16px;

          &:last-child {
            padding-right: 0;
          }

          & > span {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }
    }
  }
}

.clickableDiscolor {
  color: @light-font-color-muted;

  :global {
    .w-icon {
      transition: inherit;
      height: @light-font-size-default;
      line-height: 1;
    }
  }

  .dropdownIcon {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: '';
    border-style: solid;
    border-width: 4px 4px 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    list-style: none;
    white-space: nowrap;
    cursor: pointer;
    word-wrap: break-word;
    list-style: none;
  }

  .commentNum {
    height: 14px;
    line-height: 1;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: @light-font-color-default;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}

.clickable {
  padding: 0 2px;

  &:hover {
    color: @light-font-color-accent;
    cursor: pointer;
  }
}

.liEmpty {
  padding: 40px 0;
}
