@light-li-bg-color: #f6f8fa;
@light-font-color-default: #24292f; // 深色
@light-font-color-muted: #57606a; // 浅色
@light-font-size-default: 14px; // 浅色

.taskList {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5;
  font-size: 16px;

  .list {
    font-size: @light-font-size-default;
    line-height: 1.5;

    ul {
      border: 1px solid #e5eaee;
      margin-right: 0;
      margin-left: 0;
      border-radius: 6px;
    }

    li {
      display: flex;
      border-top-color: transparent;
      list-style-type: none;
      border-top: 1px solid #e5eaee;
      transition: all 0.2s ease-in-out;

      &:not(:first-child):hover {
        transition: all 0.2s ease-in-out;
        background-color: #e5eaee9f;
      }

      .itemState {
        padding-left: 16px;
        padding-top: 12px;
        align-items: center;
      }

      .itemLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8px;
        overflow: hidden;
        flex: auto;

        .labelBox {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          cursor: pointer;

          .label {
            &:hover {
              text-decoration: underline;
            }
          }
        }

        .itemLeftTop {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          align-items: center;

          .label {
            display: inline-block;
            padding: 0 7px;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            white-space: nowrap;
            border: 1px solid transparent;
            border-radius: 2em;
            margin-left: 8px;

            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }

          p {
            font-weight: 600;
            text-decoration: none;
            white-space: nowrap;
            // max-width: 600px;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }

        .itemLeftBase {
          font-size: 12px;
          margin: 5px;
          margin-left: 0px;

          span {
            border-radius: 25px;
            margin-right: 5px;
          }

          // .mark {
          // }

          // .updateTime {
          // }

          // .person {
          // }
        }
      }

      .itemRight {
        white-space: nowrap;
        text-align: right;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        width: calc(100% / 12 * 3);

        & > div {
          flex: 1;
          margin-left: 8px;
          flex-shrink: 0;
          text-align: center;
        }

        .itemComments {
          & > span {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #999;
            line-height: 24px;

            span {
              margin-right: 2px;

              svg {
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
    }

    .listHead {
      display: flex;
      width: 100%;
      align-items: center;
    }

    // 列表头
    .liHead {
      background-color: @light-li-bg-color;
      border-top: none;
      padding: 16px;
      margin: -1px -1px 0;
      border-right-width: 1px;
      border-left-width: 1px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border: 1px solid #d0d7de;

      .listHead {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }

      .itemLeft {
        height: 21px;
        padding: 0;

        & > p {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          & > span {
            margin-right: 10px;
            color: @light-font-color-muted;
            text-decoration: none;
            white-space: nowrap;
            cursor: pointer;
            font-size: 14px;
            display: inline-flex;
            padding: 0;
            cursor: pointer;
            -webkit-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 0;
            -webkit-appearance: none;
            appearance: none;

            & > span {
              margin-right: 4px;
              display: inline-block;
              overflow: visible !important;
              vertical-align: text-bottom;
              width: 16px;
              height: 16px;

              svg {
                width: 16px;
                height: 16px;
                fill: currentColor;
              }
            }
          }

          .action {
            font-weight: 600;
            color: @light-font-color-default;
          }
        }
      }

      .itemRight {
        justify-content: flex-end;

        & > div {
          display: flex;
          justify-content: center;
          padding-right: 16px !important;
          padding-left: 16px !important;

          & > span {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }
    }
  }
}

.clickableDiscolor {
  color: @light-font-color-muted;

  :global {
    .w-icon {
      transition: inherit;
      height: @light-font-size-default;
      line-height: 1;
    }
  }

  .dropdownIcon {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: '';
    border-style: solid;
    border-width: 4px 4px 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    list-style: none;
    white-space: nowrap;
    cursor: pointer;
    word-wrap: break-word;
    list-style: none;
  }

  .commentNum {
    height: 14px;
    line-height: 1;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: @light-font-color-default;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}

.clickable {
  &:hover {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
  }
}
